resources:
  - ../../base

# Patches for modifying resources
patches:
  - target:
      kind: Deployment
      name: my-app-prod     # Use the final name with suffix
      namespace: default
    path: replica-count.yaml

  - target:
      kind: ExternalSecret
      name: my-app-secret
      namespace: default
    path: external-secret.yaml

# Add suffix to all resources in production
nameSuffix: -prod

# Replace image for production
images:
  - name: my-app-image
    newName: sirwills/my-app
    newTag: latest
