resources:
  - ../../base

patches:
  - target:
      kind: Deployment       # or ExternalSecret if patch is for ExternalSecret
      name: my-app           # must match metadata.name in base
      namespace: production  # optional but safer
    path: replica-count.yaml

  - target:
      kind: ExternalSecret
      name: my-app-secret    # must match metadata.name in base
      namespace: production
    path: external-secret.yaml

nameSuffix: -prod
