apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  labels:
    app: my-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app
          image: sirwills/kustomize-2137_barista_cafe:1.0.0
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: app-config